<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="filmList()">Sortierung <br> [{{sort == 'asc' ? 'Aufsteigend' : 'Absteigend'}}]</a>
      <a mat-list-item *ngIf="this.logged" href="/new">Neu</a>
      <a mat-list-item *ngIf="this.logged" href="#">Alle Löschen</a>
      <a mat-list-item *ngIf="this.logged" href="#">Importieren</a>
      <a mat-list-item (click)="loginDialog()">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>{{this.logged ? 'Filmliste von ' + this.user : 'Filmliste'}}</span>
    </mat-toolbar>

    <router-outlet>
    </router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
